---
import { ArrowUp } from "@lucide/astro";
---

<a
  class="text-zinc-200 bg-zinc-800 hover:bg-zinc-700 p-2 fixed bottom-15 right-5 sm:right-15"
  href="#"
  target="_top"
  id="backToTop"
>
  <ArrowUp />
</a>

