---

---

<footer
  class="container bg-gradient-to-l from-neutral-900 to-neutral-900 via-zinc-800 block-padding mx-auto px-4 flex items-center justify-center text-zinc-100"
>
  <p class="capitalize">
    made with love by <span class="text-emerald-500 uppercase"
      >shuvam khamrui</span
    >
  </p>
</footer>
