---
import { blogs_section } from "@/data/site.content.json";
import BlogCard from "../cards/blog-card.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blog");
const { description, heading } = blogs_section;
---

<section class="block-padding space-y-4" id="blog">
  <h2 class="max-w-[15ch] site__heading" set:html={heading} />
  <p class="">{description}</p>

  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-10">
    {blogs.slice(0, 3).map((blog) => <BlogCard blog={blog} />)}
  </ul>
  <a
    href="/blog"
    class="text-gray-600 dark:text-gray-200 text-center capitalize mt-10 block "
    >read more</a
  >
</section>
