---
import { pricing_section } from "@/data/site.content.json";
import PricingCard from "../cards/pricing-card.astro";

const { heading, description, plans } = pricing_section;
---

<section class="block-padding flex flex-col gap-8" id="pricing">
  <h2 class="site__heading" set:html={heading} />
  <p class="">{description}</p>

  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    {plans.map((plan) => <PricingCard plan={plan} />)}
  </ul>
</section>
