---
import { services_section } from "@/data/site.content.json";
import LucideIcon from "../lucide-icon.astro";
import ServiceCard from "../cards/service-card.astro";

const { description, heading, services } = services_section;
---

<section class="block-padding px-4 md:px-0" id="services">
  <h2 class="text-5xl site__heading" set:html={heading} />
  <p class="text-lg mt-4 first-letter:uppercase">{description}</p>

  <ul class="grid grid-rows-1s md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
    {services.map((serv) => <ServiceCard service={serv} />)}
  </ul>
</section>
