---
import { LucideArrowLeft } from "@lucide/astro";
---

<header class="">
  <button
    class="text-gray-400 cursor-pointer mb-6"
    id="backBtn"
    title="navigate back"><LucideArrowLeft /></button
  >
</header>
<div
  class="prose prose-xl prose-gray dark:prose-invert dark:prose-ul:text-zinc-400 w-full mx-auto max-w-7xl"
>
  <slot />
</div>

<script is:inline>
  const backBtn = document.getElementById("backBtn");
  if (backBtn) backBtn.addEventListener("click", () => history.back());
</script>
